# Core Web Framework and Server
Django>=6.0.0
daphne>=4.0.0
channels>=4.0.0
asgiref>=3.8.1

# Environment and Configuration
python-dotenv


# Security and Networking
requests
cryptography

# Kotak Neo API SDK replacement
websocket-client>=1.6.0
pandas


